@import "tailwindcss";

@theme {
  --color-cream: #faf7f1;
  --color-ink: #2e2f26;
  --color-body: #4a4b3f;
  --color-gold: #c2a15f;
  --color-leaf1:#c7cdb0;
  --color-leaf2:#faf7f1;
  --color-elipse: #c2a15f;
  --color-olive: #2e3324;
  --color-red: #b36a45
}

@theme inline {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  --font-hero: var(--font-hero);

}

body {
  background: var(--color-cream);
  color: var(--color-ink);
  font-family: var(--font-sans);
}